<div>
 <mat-toolbar color="primary">
    <span>
      <mat-icon style="vertical-align: middle" class="icon-20">cloud</mat-icon>
       Baml Weather
    </span>
    <span class="space-filler"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item (click)="openDialog()">Settings</button>
    <button mat-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle theme</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  </div>